@import "./variables";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 70px;
    position: fixed;
    bottom: 0px;
    background-color: $primaryBg;
    & button {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid $borderColor;
        border-radius: 3px;
        background-color: $secondaryBg;
        &:hover {
            border: 1px solid darken($color: $borderColor, $amount: 5);
            background: darken($color: $secondaryBg, $amount: 5);
        };
        &:disabled {
            cursor: default;
            color: $secondaryBg;
            background-color: $primaryBg;
        };
    };
};