@import "./variables";

.pageHeader {
  height: 12vh;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid $borderClr;
  background-color: $primaryBg;
  z-index: 1;
};

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  h1 {
    font-size: 2.25rem;
    font-family: "Billabong";
    display: inline-block;
    margin: 0;
  };
  input {
    border: 1px solid $borderClr;
    border-radius: 3px;
    padding: 5px;
    background-color: $secondaryBg;
  };
};
