@import "./variables";
@import "./mixins";

main {
    padding: 12vh 0 12vh 0;
    background-color: $secondaryBg;
    & > .wrapper > div {
        @include width-665 {
            display: flex;
            justify-content: center;
        };
    };
};