@import "./variables";

.post {
    margin: 5px 0 10px 0;
    .postContent {
        @include width-500 {
            width: 500px;
        };
    };
    & > header {
        width: 100%;
    };
    @include width-500 {
        display: flex;
        flex-direction: column;
        align-items: center;
    };
};

.username {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 0 0 15px;
    height: 75px;
    .usernameImage {
        margin: 0 10px 0 0;
        height: 60%;
        width: calc(75px * 0.6);
        background: linear-gradient(34deg, 
            rgba(253,244,151,1) 0%, 
            rgba(253,244,151,1) 5%, 
            rgba(253,89,73,1) 45%, 
            rgba(214,36,159,1) 60%, 
            rgba(40,90,235,1) 90%);
        background-size: 200%;
        border-radius: 50%;
        img {
            height: 100%;
            width: auto;
            border: 2.5px solid rgba($color: #000000, $alpha: 0.1);
            border-radius: 50%;
        };
    };
};

img {
    width: 100%;
    max-width: 500px;
};

figcaption {
    display: inline-block;
    width: calc(100% - 30px);
    font-size: 0.9rem;
    border-bottom: 1px solid $borderColor;
    padding: 0 0 10px 0;
    margin: 0 15px;
    span {
        font-weight: 800;
    };
};

.likesSection,
.commentsSection {
    margin: 0 0 0 15px;
};

.likesSection {
    padding: 10px 0;
    .likeButton {
        margin: 0 0 0 -7.5px;
        cursor: pointer;
        z-index: 0;
        border: none;
        background: none;
    };
    .fas {
        color: $heartColor;
    };
    .fa-heart:hover {
        transform: scale(1.15);
    };
};

.commentsSection {
    .commentsList {
        margin-top: 0;
        .comment {
            padding: 5px 0;
            margin: 0 15px 0 0;
            border-bottom: 1px solid $borderColor;
        };
    };
    .viewAllComments {
        margin: 10px 0 5px 0;
        font-weight: 800;
    };
    .commentForm {
        padding: 10px 0;
        border: 1px solid $borderColor;
        border-radius: 10px;
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        background-color: $primaryBg;
        input {
            width: 80%;
            padding: 5px 5px 5px 10px;
            border: none;
        };
        button {
            width: 20%;
            cursor: pointer;
            border: none;
            background: none;
            width: 40%;
        };
    };
};

@include width-640 {
    h2,
    .postContent {
        border: 1px solid $borderColor;
    };
    h2 {
        background: $primaryBg;
    };
};